<div class="row">
  <ng-container *ngFor="let item of products; let i = index">
    <div class="col">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" [src]="item.value.imageUrl">
        <div class="card-body">
          <h5 class="card-title">{{ item.value.title }}</h5>
          <p class="card-text">{{ item.value.price | currency:'USD':'symbol-narrow' }}</p>
        </div>
      </div>
    </div>
    <div *ngIf="(i + 1) % 2 === 0" class="w-100"></div>
  </ng-container>
</div>